ul(class="nav nav-justified")
    li(class='active')
        a(href='/') Home
    li
        a(href='/user') Cadstro de Usuários
    li
        a(href='/profile') Cadastro de Perfil
    li
        a(href='/return') Pesquisa
    li
        a(href='/') Usuário logado[sair]