extends ../layout

block content
    h1 Cadastro de Usuários
    hr
    br
    form(method="POST", action="/user/create", role="form")
        div(class="form-group")
            label Nome
            input(type="text", name="name", class="form-control", autofocus)
        div(class="form-group")
            label E-mail
            input(type="email", name="email", class="form-control", autofocus)
        div(class="form-group")
            label Login
            input(type="text", name="username", class="form-control", autofocus)
        div(class="form-group")
            label Senha
            input(type="password", name="password", class="form-control", autofocus)
        div(class="form-group")
            label Confirmar Senha
            input(type="password", class="form-control", autofocus)
        div(class="form-group")
            label Perfil do Usuário
            select
                option(value="1") Admin
                option(value="2") Manager
                option(value="3") User
        button(type="submit", class="btn btn-success") Gravar