extends ../layout 

block content
    div(class="jumbotron")
        h1('Aplicativo Estágio')
        p(class='lead')
            |Acesso à área de cadastro
        p
            a(href="" class="btn btn-lg btn-success") Acesso ao App